@font-face {
  font-family: "Zapfino";
  font-style: normal;
  font-weight: 400;
  src: url("img/Zapfino Forte LT W01.ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(img/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(img/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url(img/Roboto-Italic.ttf);
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url(img/Roboto-BoldItalic.ttf);
}

body {
  margin: 0;
  /*background-image: url("/img/header.png");
  background-position: center;
  background-attachment: fixed;*/
  background: #f5f6e0;
  font-family: "Roboto";
}

main {
  max-width: 800px;
}

article {
  font-size: 20pt;
  margin-bottom: 2em;
}

article header {
  font-size: 1.4em;
  position: sticky;
  top: 8rem;
  background: #f6f6ee;
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  box-shadow: #f6f6ee 0 0.2em 0.25em;
  border-bottom: 1px solid #5b5c09;
}

.image-host {
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
  justify-content: space-around;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8em;
  box-shadow: #5b5c09 0 1rem 5rem;
  background-image: url("/img/header.png");
  background-position: center;
  z-index: 20;
}

.title {
  font-family: Zapfino;
  font-size: 12em;
  text-shadow: 0 0 10px #ffe180;
  position: absolute;
  top: -3rem;
  left: 2rem;
}

.main {
  margin-top: 11em;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0.8em;

  background: #f6f6ee;
}

@media screen and (min-width: 700px) {
  .main {
    margin-left: 1em;
    margin-right: 1em;
    border: 1px solid #5b5c09;
    box-shadow: #5b5c09 0 0rem 0.5rem;
    border-radius: 1em;
  }
  article {
    font-size: 14pt;
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 800px) {
  .main {
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 3em;
  }
}

@media screen and (min-width: 900px) {
  .main {
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    max-width: 850px;
    margin-bottom: 3em;
  }
}
